.resume-header {
    margin-top: 25px;
}

/* Center with respect to the contact info. */
.name {
    line-height: 90px;
}

ul {
  padding-left: 20px;
}

@media print {
    .container {
      padding: 0 0.5in;

      font-size: 13px;
    }

    .resume-header {
        margin-top: 0px;
    }

    .projects-more {
      font-size: 13.5px;
    }

    /* Remove Bootstrap's link styles. */
    a {
        text-decoration: none;
    }
    a:after {
        content: "" !important;
    }
}

/* Vertically center the text relative to its icon. */
.contact-item {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 3px;
}

.info-section {
    border-top: solid #DDDDDD 1px;
}

.job {
  padding-right: 30px;
}
.project {
  padding-right: 15px;
}
@media print {
  .job, .project {
    padding-right: 0px;
  }
}

.job-description {
    font-weight: bold;
}

.job-date {
    font-style: italic;
}

.languages {
  color: #666666;
}
