.resume-header {
    margin-top: 25px;
}

/* Center with respect to the contact info. */
.name {
    line-height: 90px;
}

ul {
  padding-left: 20px;
}

/* Simple print formatting. */
@media print {
    .container {
      padding: 0 0.5in;

      font-size: 13px;
    }

    .resume-header {
        margin-top: 0px;
    }

    .projects-more {
      font-size: 13.5px;
    }

    /* Remove Bootstrap's link styles. */
    a {
        text-decoration: none;
    }
    a:after {
        content: "" !important;
    }
}

/* Vertically center the text relative to its icon. */
.contact-item {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 3px;
}

.info-section {
    border-top: solid #DDDDDD 1px;
}

.courses-table {
    width: 100%;
    margin-bottom: 10px;
}

.column-code, .column-grade {
    width: 20%;
}

.job {
  padding-right: 30px;
}
.project {
  padding-right: 15px;
}

@media print {
    .job, .project {
      padding-right: 0px;
    }
    .print-no-collapse {
      float: left;
    }
    .print-no-collapse.col-xs-12 .print-no-collapse.col-sm-12 .print-no-collapse.col-md-12 .print-no-collapse.col-lg-12 {
        width: 100%;
    }
    .print-no-collapse.col-xs-11 .print-no-collapse.col-sm-11 .print-no-collapse.col-md-11 .print-no-collapse.col-lg-11 {
        width: 91.66666666666666%;
    }
    .print-no-collapse.col-xs-10 .print-no-collapse.col-sm-10 .print-no-collapse.col-md-10 .print-no-collapse.col-lg-10 {
        width: 83.33333333333334%;
    }
    .print-no-collapse.col-xs-9 .print-no-collapse.col-sm-9 .print-no-collapse.col-md-9 .print-no-collapse.col-lg-9 {
        width: 75%;
    }
    .print-no-collapse.col-xs-8 .print-no-collapse.col-sm-8 .print-no-collapse.col-md-8 .print-no-collapse.col-lg-8 {
        width: 66.66666666666666%;
    }
    .print-no-collapse.col-xs-7 .print-no-collapse.col-sm-7 .print-no-collapse.col-md-7 .print-no-collapse.col-lg-7 {
        width: 58.333333333333336%;
    }
    .print-no-collapse.col-xs-6 .print-no-collapse.col-sm-6 .print-no-collapse.col-md-6 .print-no-collapse.col-lg-6 {
        width: 50%;
    }
    .print-no-collapse.col-xs-5 .print-no-collapse.col-sm-5 .print-no-collapse.col-md-5 .print-no-collapse.col-lg-5 {
        width: 41.66666666666667%;
    }
    .print-no-collapse.col-xs-4 .print-no-collapse.col-sm-4 .print-no-collapse.col-md-4 .print-no-collapse.col-lg-4 {
        width: 33.33333333333333%;
    }
    .print-no-collapse.col-xs-3 .print-no-collapse.col-sm-3 .print-no-collapse.col-md-3 .print-no-collapse.col-lg-3 {
        width: 25%;
    }
    .print-no-collapse.col-xs-2 .print-no-collapse.col-sm-2 .print-no-collapse.col-md-2 .print-no-collapse.col-lg-2 {
        width: 16.666666666666664%;
    }
    .print-no-collapse.col-xs-1 .print-no-collapse.col-sm-1 .print-no-collapse.col-md-1 .print-no-collapse.col-lg-1 {
        width: 8.333333333333332%;
    }
}

@media (min-width: 768px), print {
    .contact-box, .contact-box-list {
        float: right;
    }
}

.job-description {
    font-weight: bold;
}

.job-date {
    font-style: italic;
}

.job-date, .job-location {
    text-align: right;
}

.languages {
  color: #666666;
}
