:root {
    --border-color: #ccc;
    --color: #333;
    --font-size: 14px;
    --line-height: 16px;
    --section-header-font-size: 1.125rem;
    --job-pill-size: 2rem;
    --job-pill-padding: 5px;

}

@media print {
    :root {
        --font-size: 10pt;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--color);
    background-color: #fff;
}

a {
    color: #428bca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    border-top: 1px solid var(--border-color);
    margin: 10px 0;
}

li {
    margin: 2px 0px;
}

li::marker {
    font-size: smaller;
}

ul {
    padding-left: 1.5rem;
}

/** Container **/

.container {
    display: block;
    margin: 0 auto;
}

@media not print {
    .container {
        padding: 3rem 1rem 0 1rem;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 50rem;
    }
}

@media (min-width: 992px) {
    .container {
        width: 50rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 50rem;
    }
}

/** Header **/

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 10px 0;
}

.name {
    font-size: 30px;
    font-weight: 500;
}

@media not print {
    .name:before {
        background-color: #3a1eed;
        border-radius: 3px;
        content: "";
        display: inline-block;
        height: 26px;
        margin-right: 10px;
        margin-top: -6px;
        vertical-align: middle;
        width: 26px;
    }
}

/** Sections **/

.section-header {
    border-bottom: solid var(--border-color) 1px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    margin: 5px 0;
}

.section-header h2 {
    font-size: var(--section-header-font-size);
    font-weight: 500;
}


.section-link {
    font-size: var(--font-size);
}

/** Jobs **/

.job-header {
    margin: 10px 0 5px 0;
    display: flex;
    align-items: center;

    --job-pill-background-color: #f9f9ff;
    --job-pill-size: 2rem;
    --job-pill-padding: 5px;
}

.job-pill {
    background-color: var(--job-pill-background-color);
    border: solid var(--border-color) 1px;
    display: flex;
    flex-direction: column;
    height: calc(var(--job-pill-size) + var(--job-pill-padding));
    padding: 1px var(--job-pill-padding) 0 var(--job-pill-padding);
    /* NOTE: `print-color-adjust` seems to no longer work as desired in Chrome for this case? */
    print-color-adjust: exact;
}

.job-description {
    font-weight: 500;
    display: inline;
    white-space: nowrap;
}

/* NOTE: `.current-job .job-employer` is scraped by `waleedkhan.name`! */
.job-employer {
    color: var(--color);
}

.job-technologies {
    font-size: smaller;
    color: #444;
    display: inline;
    white-space: nowrap;
}

.job-spacer {
    flex: 1;
}

.job-date,
.job-location {
    text-align: right;
    white-space: nowrap;
}

.wrap {
    white-space: normal;
}

.nowrap {
    white-space: nowrap;
}

/** Projects **/

.project-header {
    margin-top: 10px;
}

.project-technologies {
    font-size: smaller;
    color: #444;
}
